@import 'bootstrap/scss/bootstrap';
:root{
  color-scheme:dark;
  --primary-color:#C2983D; /*mustard*/
  --primary-color-rgb:194,152,61; /*mustard*/
  --faded-primary-rgb:194,152,61,.5;

  --secondary-color:#C2CCC5; /*putty*/
  --secondary-color-rgb:194,204,197; /*putty*/

  --primary-background:#252423; /*charcoal*/
  --primary-background-rgb:37,36,37; /*charcoal*/

  --secondary-background:#303D38; /*forest*/
  --secondary-background-rgb:48,61,56; /*forest*/

  --active: #928a74; /*mushroom*/
  --active-rgb:147,138,116; /*mushroom*/

  --bs-primary: var(--primary-color);
  --bs-primary-rgb:  var(--primary-color-rgb);

  --bs-secondary: var(--secondary-color);
  --bs-secondary-rgb: var(--secondary-color-rgb);

  --bs-primary-text-emphasis: var(--primary-color);
  --bs-secondary-text-emphasis: var(--secondary-color);

  --bs-primary-bg-subtle: var(--primary-color);
  --bs-secondary-bg-subtle: var(--secondary-color);

  --bs-primary-border-subtle: var(--primary-color);
  --bs-secondary-border-subtle: var(--secondary-color);

  --bs-body-color: var(--primary-color);
  --bs-body-color-rgb: var(--primary-color-rgb);

  --bs-body-bg: var(--primary-background);
  --bs-body-bg-rgb: var(--primary-background-rgb);

  --bs-emphasis-color: var(--primary-color);
  --bs-emphasis-color-rgb: var(--primary-color-rgb);

  --bs-secondary-color: var(--secondary-color);
  --bs-secondary-color-rgb: var(--secondary-color-rgb);

  --bs-link-color: var(--primary-color);
  --bs-link-color-rgb: var(--primary-color-rgb);
  --bs-link-decoration: none;

  --bs-link-hover-color: var(--active);
  --bs-link-hover-color-rgb: var(--active-rgb);

  --bs-border-color: rgba(var(--secondary-color-rgb),.5);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg:var(--active);
  --bs-dropdown-link-active-color:var(--secondary-background);

  --bs-dropdown-link-hover-bg:unset;
}

.table {
  --bs-table-striped-bg: rgba(var(--bs-secondary-color-rgb), 0.05)
}

#root {
  display:grid;
  grid-template-rows: auto 1fr auto;
  height:100%;
}

html {
  height : 100%;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
}

.modal{
  --bs-modal-margin:5em;
}

.modal-content {
  max-height:80vh;
  & > * {
    overflow-y:auto;
    max-height:100%;
  }
}

.clickable {
  cursor : pointer;
}

select {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor:pointer;
}

.ng-fa-icon {
  cursor:pointer;
}

.btn {
  --bs-btn-padding-x: .5rem;
  --bs-btn-padding-y: .25rem;
}
