<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="mt-4">About Me</h3>
            <p>Military BRAT Full Stack Software Developer from Ohio.</p>
            <p>Was born at Shaw Air Force Base South Carolina and grew up on military bases in Arizona, England, Japan, Turkey and Utah.</p>
            <p>Graduated from Weber State University, Utah in 2018 with my Bachelors of Science in Computer Science and an Associates of Applied Science in Mathematics.</p>
            <p>Currently a mathematics tutor looking for next software development job or more students to tutor.</p>
        </div>
    </div>
</div>