nav {
  display : grid;
  grid-template-columns: auto 1fr 1fr;
  gap:5em;
  border-bottom:solid 1px;
  padding:1em 2em;
}

#project-dropdown {
  cursor:pointer;
}

#resume-container {
  justify-self: end;
}