<div class="container">

    <section class="container" id="portfolio-header">
        <img id="cover-photo" src="/images/headshot.svg" alt="cover-photo">
        <div>
            <h1>Jacob Stamper</h1>
            <div class="icon-container"><fa-icon [icon]="faBriefcase"></fa-icon>Full Stack Web Developer</div>
            <div class="icon-container"><fa-icon [icon]="faLocationDot"></fa-icon>Ohio, USA</div>
            <div class="icon-container"><fa-icon [icon]="faPhone"></fa-icon>(727) 967-2504</div>
            <div class="icon-container"><fa-icon [icon]="faEnvelope"></fa-icon>StamperSoftware&#64;gmail.com</div>
        </div>
    </section>

    <section id="tech">
        <h4>Tech</h4>
        <div>
            <p>Angular | React | C# | Go | TypeScript | SQL</p>
        </div>
    </section>

    <section id="work">
        <h4>Work</h4>
        <div>
            <div>
                <h5>August 2025 - Present</h5>
                <p> Mathematics Tutor at Huntington Learning Center and Perry Middle School.</p>
            </div>
            <div>
                <h5>April 2025 - August 2025</h5>
                <p>Fixed Security for the <a id="cleveland-guardians" href="https://www.mlb.com/guardians">Cleveland Guardians</a> baseball team.</p>
            </div>
            <div>
                <h5>March 2019 - March 2024</h5>
                <p>hh2 Cloud Services - Full Stack Web Developer</p>
            </div>
        </div>
    </section>

    <section id="education">
        <h4>Education</h4>
        <div>
            <h5>Graduated December 2018 from <a id="weber-state" href="https://www.weber.edu" target="_blank">Weber State University</a></h5>
            <p>Bachelor of Science in Computer Science</p>
            <p>Associate of Applied Science in Mathematics</p>
        </div>
    </section>

</div>